/* ./src/index.css */

body {
  font-family: DysonFutura, sans-serif;
  background-color: gray;
}

#hamnav input:checked ~ #hamitems {
  display: block;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
